<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>JavaWeb_3</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ServletA</display-name>
    <servlet-name>ServletA</servlet-name>
    <servlet-class>com.test.servlet.ServletA</servlet-class>
    <init-param>
      <param-name>school</param-name>
      <param-value>南方it</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletA</servlet-name>
    <url-pattern>/a</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletB</display-name>
    <servlet-name>ServletB</servlet-name>
    <servlet-class>com.test.servlet.ServletB</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletB</servlet-name>
    <url-pattern>/b</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletC</display-name>
    <servlet-name>ServletC</servlet-name>
    <servlet-class>com.test.servlet.ServletC</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletC</servlet-name>
    <url-pattern>/c</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>FilterA</filter-name>
    <filter-class>com.test.filter.FilterA</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>FilterA</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>EncodingFilter</display-name>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>com.test.filter.EncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>utf-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>ServletD</display-name>
    <servlet-name>ServletD</servlet-name>
    <servlet-class>com.test.servlet.ServletD</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletD</servlet-name>
    <url-pattern>/d</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>MyListener</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>ServletE</display-name>
    <servlet-name>ServletE</servlet-name>
    <servlet-class>com.test.servlet.ServletE</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletE</servlet-name>
    <url-pattern>/e</url-pattern>
  </servlet-mapping>
</web-app>